[Unit]
Description=caddy
After=network-online.target

[Container]
Image=ghcr.io/ondrejbudai/caddy-cloudflare
ContainerName=caddy
#AutoUpdate=registry
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=caddy-data:/data:Z
Volume=/usr/share/Caddyfile:/etc/caddy/Caddyfile:Z,ro
EnvironmentFile=/etc/caddyenv
Network=main.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
