[Unit]
Description=gitea
After=network-online.target

[Container]
Image=docker.io/gitea/gitea
ContainerName=gitea
#AutoUpdate=registry
Volume=gitea-data:/data:Z
Volume=gitea-config:/etc/gitea:Z
Volume=/run/git-home/.ssh:/data/git/.ssh:Z
Network=main.network
Environment=USER_UID=1500
Environment=USER_GID=1500

[Service]
Restart=always
ExecStartPre=rm -rf /run/git-home
ExecStartPre=mkdir -p /run/git-home/.ssh
ExecStartPre=touch /run/git-home/.ssh/authorized_keys
ExecStartPre=chmod 700 /run/git-home
ExecStartPre=chmod 700 /run/git-home/.ssh
ExecStartPre=chmod 600 /run/git-home/.ssh/authorized_keys
ExecStartPre=chown -R git:git /run/git-home

[Install]
WantedBy=multi-user.target
