[Unit]
Description=gitea
After=network-online.target

[Container]
Image=docker.io/gitea/gitea
ContainerName=gitea
#AutoUpdate=registry
Volume=gitea-data:/data:Z
Volume=gitea-config:/etc/gitea:Z
Network=main.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
