[Unit]
Description=gitea
After=network-online.target

[Container]
Image=docker.io/gitea/gitea
ContainerName=gitea
#AutoUpdate=registry
PublishPort=127.0.0.1:2222:22
Volume=gitea-data:/data:Z
Volume=gitea-config:/etc/gitea:Z
Volume=/var/home/git/.ssh:/data/git/.ssh:Z
Network=main.network
Environment=USER_UID=1500
Environment=USER_GID=1500

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
