[Unit]
Description=gitea-runner
After=network-online.target

[Container]
Image=docker.io/gitea/act_runner:latest
ContainerName=gitea-runner
Environment=GITEA_INSTANCE_URL=https://git.budai.cz
Environment=CONFIG_FILE=/config.yaml
EnvironmentFile=/etc/gitea-runner-env
Volume=/etc/config.yaml:/config.yaml:ro,Z
Volume=/run/podman/podman.sock:/var/run/docker.sock

[Install]
WantedBy=multi-user.target
